/* pages/decision/decision.wxss */
.page {
    height: 100vh;
    text-align: center;

    .options {
        margin: 30rpx 0 50rpx;
        display: flex;
        justify-content: center;

        .content {
            font-family: "kaiti";
            display: inline-block;
            line-height: 60rpx;
            padding: 0 30rpx;
            font-size: 28rpx;
            border-radius: 20rpx;
            background: #f0f0f0;
            box-shadow: 5rpx 5rpx 10rpx #bebebe
        }
        .add,.edit{
            margin: 0 40rpx;
            display: flex;
            align-items: center;
            color: #d7b9c1;
        }
    }

    .result {
        margin-top: 100rpx;
        margin-bottom: 20rpx;
        text-align: center;
        font-size: 60rpx;
        font-weight: 500;
    }

    .reset {
        text-align: center;
        color: #a2a2bb;
        font-size: 28rpx;
        font-family: 'kaiti';
    }
}
