.page{
  height: 100vh;
  overflow-y: auto;
  .answer{
    padding: 20rpx;
  }
  .question{
    //padding: 20rpx 40rpx 0;
    button{
      width: 80rpx;
    }
    .van-hairline{
      display: none;
    }
  }
}
